# Dependency directories
node_modules/
venv/

# Python bytecode
__pycache__/

# Django files
db.sqlite3
manage.py
migrations/
static/
src/

# Node.js files
package.json
package-lock.json

# Python app files
__init__.py
admin.py
apps.py
models.py
tests.py

# Markdown/Docs
node.md