{% extends 'base.html' %}
{% load static %}

{% block title %}Add Product{% endblock title %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-center">Add Product</h2>
    <form method="post" enctype="multipart/form-data" class="mx-auto" style="max-width: 600px;">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" step="0.01" name="price" class="form-control" required>
        </div>
                <!-- <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" step="0.01" name="price" class="form-control" required>
        </div> -->
        <div class="mb-3">
            <label class="form-label">Stock</label>
            <input type="number" name="stock" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Image URL (optional)</label>
            <input type="url" name="image" class="form-control" placeholder="https://example.com/image.png">
        </div>
        <div class="mb-3">
            <label class="form-label">Or Upload Image (optional)</label>
            <input type="file" name="image_file" class="form-control" accept="image/*">
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success">Add</button>
            <a href="{% url 'product' %}" class="btn btn-secondary">Back to Product List</a>
        </div>
    </form>
</div>
{% endblock content %}