{% extends 'base.html' %}

{% block title %}
    Category Page
{% endblock title %}

{% block content %}
    <h1 class="text-center my-4">Observer</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped table-sm align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th>Observer​ ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if categories %}
                {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary me-1" href="{% url 'edit_category' category.id %}">Edit</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'delete_category' category.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">No category data available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'add_category' %}" class="btn btn-primary btn-lg">Add Category</a>
        <!-- <a href="{% url 'add_category' %}" class="btn btn-primary btn-lg">Add Category</a> -->
    </div>
{% endblock content %}
